.side-button {
  background: #d5a93b;
  color: black;
}
.middle-button {
  color: white;
  background: black;
}
.middle-button,
.side-button {
  font-size: 2rem;
  text-align: center;
  width: 33%;
  height: 10%;
  float: left;
  letter-spacing: 2px;
  font-weight: 700;
}
span {
  color: white;
}
